.container {
    max-width: 1200px;
    /* Adjust the value as needed */
    margin: 0 auto;
    /* Center the container horizontally */
}
h1{
    position: relative;
    z-index: 1;
    max-width: 400px;
    word-wrap: break-word;
    font-size: 30px;
    font-weight:lighter;
    line-height: 1.2;
    color: whitesmoke;
    left: 140px;
    top: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sif_link{text-decoration: none;
cursor: pointer;
}
.sif_link:hover{
    font-weight: bold;
}
h3{
    position: relative;
        z-index: 1;
        max-width: 400px;
        word-wrap: break-word;
        font-weight: lighter;
        line-height: 1.2;
        color: whitesmoke;
        left: 140px;
        top: 94px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{overflow-x: visible;
color: gray;
position: relative;
left: 120px;
font-size: x-large;

}
body{
/* max-width: 1100px; */
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

overflow-x: hidden;
}
#mslogo { position: relative;
 top: -46px;
 left:80px;
}
#list ul li{/*font-weight:500;*/
    list-style: none;
    padding: 15px;
    display:inline-block;
    justify-content:space-between;
    align-items: center;
    position:relative;
    top: -98.5px;
    left: 235px;
    font-size: small;
    /*font-family:sans-serif;*/
    color:rgb(26, 24, 24) ;
}
#drop{
    position: relative;
    top: -13.5px;
    left: 78px;
}
#nav{
    position: absolute;
    right: 280px;
    top: 29px;
    font-size: small;
    /*font-family: sans-serif;*/
    color: rgb(26, 24, 24);

}
#icons{position: absolute;
    top: -3px;
}
#search{position: relative;
    left: 130px;
}
#cart {
    position: relative;
    top:-24px;
    left: 180px;
}
#add {
    position: relative;
    top: -50px;
    left: 230px;
}
#large{
    position: absolute;
    top: 60px;
    left:18.2%;
    transform: scaleX(1.56);
}
.btn1{
    position: relative;
        z-index: 1;
        left: 140px;
            top: 90px;
            background-color: #0067b8;
            border-radius: 3px;
            padding: 10px 20px;
            border: none;
            color:white;
            font-size:medium;
            font-weight:550;

            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay:0;
}
.btn1:hover{
    transform: translateY(-10px);
}
#text{font-weight: 600;
    font-family: inherit;
    position: absolute;
    top: 300px;
    left: -65px;
}
#grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    /* gap: 8px; */
        z-index: 1;
        /* left: 140px; */
        top: 500px;
      /* left: 55px; */
}

#brig{
    font-size: 1.3125rem;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: -10px;
}
#brig-con {
    font-size: 16px;
    max-width: 250px;
        word-wrap: break-word;
        position: relative;
        top: 5px;
        
}
#new{
    position: relative;
    top: -150px;
    left: 55px;
    background-color: orange;
    border: none;
    width: 50px;
    height: 23px;
    font-weight: 600;
    color: black;
}
#edge1{
    font-size: 23.6px;
    font-weight: bold;
    max-width: 275px;
    word-wrap: break-word;
    position: relative;
    top: -10px;
    left: -7.5px;
}
#edge1-con{
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 5px;
    left: -7.5px;
}
#OneDrive {
    font-size: 23.6px;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: -5px;
}
#OneDrive1{
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 8px;
}
#OneNote {
    font-size: 23.6px;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: -7px;
}

#OneNote1 {
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 7px;
}
.al{
    position: absolute;
    top: 80px;
}
a.yl{
    position: relative;
    top: 50px;
    color: #0067b8;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 420px;
} 

img.jl{
    position: relative;
        top: 55.5px;
    border: 3px;
    
}

img.wl {
    position: relative;
    top: 55.5px;
border: 3px;
}
.a3 {
    position: relative;
    top: -51px;
}



img.rl {
    position: relative;
    top: 55.5px;
border: 3px;
}
.a4 {
    position: relative;
    top: -245px;
    left: 437.5px;
}

img.yl {
    position: absolute;
    top: 53.5px;
    border: 3px;
}
.video{
    position: relative;
    top: 600px;
    text-align: center;
    height: 600px;
    left: 5px;
}
#business{
    z-index: 999;
    font-weight: 700;
    font-size: 1.9rem;
    position: relative;
    top: 570px;
    left: 19px;
}
#look{
    position: relative;
    top: 380px;
    left: 200px;
}
.look{
    font-weight: 600;
    font-size:23px ;
}
#connect{
    font-size: 15px;
    position: relative;
    top: 10px;
}
.btn2{
    position: relative;
    top: 30px;
    border-radius: 3px;
    background-color: #0067b8;
    padding: 10px 20px;
        border: none;
        color: white;
}
.btn3 {
    position: relative;
    bottom: -1150px;
    left: 1230px;
    border-radius: 3px;
    background-color: #a0a0a7;
    padding: 10px 20px;
    border: none;
    color: rgb(14, 13, 13);
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
img.up{
    z-index: 1;
    position: relative;
    bottom: -1151.5px;
    left: 1120px;
}
.btn3:hover{
    background-color: rgb(49, 28, 68);
}

#griD {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* gap: 8px; */
    
    /* left: 140px; */
    top: 600px;
    /* left: 60px; */
    
}
#bri {
    font-size: 1.3125rem;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: 20px;
    
}

#bri-con {
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 40px;
}



#OneDriv {
    font-size: 23.6px;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: -12px;
}

#OneDriv1 {
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 3px;
}

#OneNot {
    font-size: 23.6px;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
    position: relative;
    top: -3px;
    
}

#OneNot1 {
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: 5px;
}
.b1{
    position: absolute;
    top: 260px;
}
button.yy{
    position: relative;
    top: 120px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #0067b8;
        border: none;
        border-radius: 3px;
        width: 245px;
    height: 55px;
}
img.j{
    position: relative;
        top: 55.5px;
    border: 3px;
}
.b2 {
    position: relative;
    top: -38px;
}

button.now {
    position: relative;
    top: 58px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color:#0067b8 ;
    border: none;
    border-radius: 3px;
    width: 245px;
    height: 55px;
}
.backup{z-index: 999;
position: relative;
bottom: -120px;
right: 25px;
}
img.will {
    position: relative;
    top: 55.5px;
border: 3px;
}
.b3 {
    position: absolute;
    top: 310px;
}

button.bell {
    position: relative;
    top: 67px;
    color: white;
    text-decoration: none;
    font-size: 17px;
font-weight: 600;
background-color: #0067b8;
    border: none;
    border-radius: 3px;
    width: 245px;
    height: 55px;
}

img.ral {
    position: relative;
    top: 53.5px;
border: 3px;
}
.b4 {
    position: absolute;
    top: 290px;
    right: 205px;
}

button.let {
    position: relative;
    top: 100px;
    left: 65.6%;
    color: white;
    text-decoration: none;
    font-size: 17px;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 600;
background-color: #0067b8;
    border: none;
    border-radius: 3px;
    width: 245px;
    height: 55px;
   
}

img.yell {
    position: absolute;
    top: 52.5px;
    border: 3px;
}
.follow{
position: absolute;
top: 2550px;
left: 48px;
}
.web1{
    position: relative;
    bottom: 20px;
    left: 150px;
}
.web2 {
    position: relative;
    bottom: 20px;
    left: 180px;
}

.footer    {
    margin-top: 860px;
    background-color: rgb(236, 235, 235);
    /* display: flex; */
    position: relative;
    top: 15px;
}
.feet{
    display: flex;
    margin-bottom: 20px;
    
}
.lest ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 6px;
    font-size: 12px;
    margin  : 15px;
    color: rgb(102, 101, 101);
}

#ll {
    font-weight: 800;
    color: rgb(94, 87, 87);
    font-size: smaller;
}
.ep ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-size: 11px;
    position: relative;
    top: -40px;
    left: 6px;
    color: rgb(102, 101, 101);
}
.ep ul li img {
    position: relative;
    top: 4px;
    right: 10px;}
@media screen and (min-width: 930px) {

    #init ul li{
        color: rgb(102, 101, 101);
        list-style:none;
        display:inline;
        margin-left: 20px;
        font-size: 11px;
        position: relative;
        left: 680px;
      
      
    }
    .sidebar {
        display: none;
        /* Hide menu logo on desktop view */
    }
        .ran {
            display: none;
            /* Hide menu logo on desktop view */
        }
                img .ran {

                    visibility: hidden;
                }
                                .a2 {
                                    position: relative;
                                    top: 3px;
                                    left: -7.5px;
                                }
#edg1 {
    font-size: 23.6px;
    font-weight: bold;
    max-width: 275px;
    word-wrap: break-word;
    position: relative;
    top: -25px;
}

#edg1-con {
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
    position: relative;
    top: -15px;
}
#grid1 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;

    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}
#grid1:hover{
    transform: translateY(-20px);
}
#grid2:hover {
    transform: translateY(-20px);
}
#grid3:hover {
    transform: translateY(-20px);
}
#grid4:hover {
    transform: translateY(-20px);
}
#grid2 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;

    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}

#grid3 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;

    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}

#grid4 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;

    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}
#i1 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#i2 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#i3 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#i4 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#b1 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#mm {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#b3 {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
.kk {
    position: relative;
    width: 291px;
    top: -20px;
    left: -20px;
}
#grid21 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;
    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}
#grid21:hover {
    transform: translateY(-20px);
}
#grid22:hover {
    transform: translateY(-20px);
}
#grid23:hover {
    transform: translateY(-20px);
}
#grid24:hover {
    transform: translateY(-20px);
}
#grid22 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;
    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}

#grid23 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;
    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}

#grid24 {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 10px;
    height: 400px;
    width: 251px;
    box-shadow: 0 0 5px #030000;
    transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0;
}
button.ql {
    position: relative;
    top: 83px;
    left: 3px;
    color: #f7f9fa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #0067b8;
    border: 0;
    width: 145px;
    height: 35px;
    border-radius: 3px;

}

button.yl {
    position: relative;
    top: 38px;
    left: 1px;
    color: #f7f9fa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #0067b8;
    border: 0;
    width: 205px;
    height: 35px;
    border-radius: 3px;
}

button.el {
    position: relative;
    top: 137px;
    left: 1px;
    color: #f7f9fa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #0067b8;
    border: 0;
    width: 145px;
    height: 35px;
    border-radius: 3px;
}

button.tl {
    position: relative;
    top: 180px;
    left: 10px;
    color: #f7f9fa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #0067b8;
    border: 0;
    width: 145px;
    height: 35px;
    border-radius: 3px;
}
}
 @media  screen and (max-width:1000px)
 {
    .footer{display: none;}
    .one, #list,#look{display: none;}
    #search{
        position: relative;
        left: -320px;
    }
    #add{
        position: relative;
        left: 200px;
    }
        #cart {
            position: relative;
            left: 150px;
        }
    .video{
       display: none ;
    }
    .ooo{
        position: relative;
        left: 160px;
    }
    .moveb{
        max-width: 77%;
        max-height: 80%;
        position: relative;
        left: 24px;
    }
   
    #text{
        position: absolute;
        bottom: -90px;
        left: -110px;
    }
    #grid{
        position: relative;
        left: 120px;
    }
    #grid1{
       position: relative;
       left: -98px;
       top: 10px;
    }
        #grid2 {
            position: relative;
            left: -193px;
            top: 130px;
        }
                 #grid3 {
                     position: relative;
                     left: -95px;
                     top: 220px;
                 }
        #grid4 {
            position: relative;
            left: -95px;
            top: 305px;
        }
    #i1,#i2,#i3,#i4{
        width: 50%;
    }
    #griD{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 900px;
        left: -209px;
    }
        #grid21 {
            position: relative;
            top: 133px;
            left: 206px;
    
        }
    #grid22{
        position: relative;
        top:550px;
        left: 206px;
        
    }
        #grid23 {
            position: relative;
            top: -223px;
            left: 556px;
        }#edg1 {
            font-size: 23.6px;
            font-weight: bold;
            max-width: 275px;
            word-wrap: break-word;
            position: relative;
            top: -20px;
        }
        #edg1-con {
            font-size: 16px;
            max-width: 250px;
            word-wrap: break-word;
            position: relative;
            top: -5px;
        }
        #grid24 {
            position: relative;
            top:201px;
            left: -138.5px;
        }
    img.mm{
        width: 300px;
    }
    .a3{
        position: relative;
        top: 0px;
    }
        .a4 {
            position: relative;
            top: 300px;
            left: -386px;
        }
                .b3 {
                    position: relative;
                    top: 10px;
                    left: -2px;
                }
 .b4 {
     position: absolute;
     top: 850px;
     left: 230.5px;
 }
 .btn3{
    position: relative;
    right:-540px;
    bottom: -1750px;
 }
 img.up {
     position: relative;
     right: -428px;
     bottom: -1752px;
 }
 .btn3{width: 75px;
height: 15px;}
:root {
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #030000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
  
    overflow: hidden;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;

}

 .sidebar {
     position: absolute;
     top: 80px;
     left: 0px;
     height: 0;
     width: 0;
     padding: 0;
     margin: 0;
     overflow: hidden;
     padding: 10px 14px;
     z-index: 999;
     /* background: var(--sidebar-color); */
     transition: var(--tran-05);
 }

 .sidebar.active {
     width: 660px;
     background-color: #e9e6e6;
     height: 80%;
 }

 .sidebar header .image-text {
     display: flex;
     align-items: center;
 }

 header .image-text .header-text {
     display: flex;
     flex-direction: column;
 }

 .header-text .name {
     font-weight: 600;
 }

 .header-text .profession {
     font-weight: 600;
 }

 .ran {visibility: visible;
     position: relative;
     top: -2120.9px;
     left: 30px;
     transform: translateY(-50%);
     height: 20px;
     color: var(--sidebar-color);
     z-index: 999;
 }
.backup{position: relative;
bottom: 0px;}
.follow{
    position: relative;
    top:1200px;
    left: 21px;
}
 }