:root {
    --topbar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #030000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.1s ease;
    --tran-05: all 0.1s ease;
}


.topbar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;

    overflow: hidden;
}

.topbar .image {
    min-width: 60px;
    display: flex;
    align-items: center;

}

.topbar {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 10px 14px;
    z-index: 999;
    /* background: var(--sidebar-color); */
    transition: var(--tran-05);
}

.topbar.active {
    width: 1295px;
    background-color: #e9e6e6;
    height: 80%;
}

.topbar .image-text {
    display: flex;
    align-items: center;
}

.image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    font-weight: 600;
}
#one, #drop{position: relative;
margin-left: 930px;
cursor: context-menu;
}
#drop {
    position: relative;
    margin-left: 39px;
    top: 23px;
    cursor:context-menu;
}
#drop img {
    position: absolute;
top: -30px;
left: 55px;
transform: translateY(-50%);
height: 20px;

display: flex;
align-items: center;
justify-content: center;

color: var(--sidebar-color);
}



@keyframes rotate{
    from{
        transform: rotate(0);
    }
        to {
            transform: rotate(360deg);
        }
}
.animate-rotate {
    animation: rotate 3s linear infinite;
}